body
  {
    color: rgb(252, 36, 36);
    background: rgba(192, 255, 241, 0.521);
  }
  #p
  {
    color: black;
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }
  .name_of_objects, #result_object_name  , #result_object_accuracy
  {
    color: rgb(255, 251, 0);
  }